{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/no-unused-state": "off",
    "react/jsx-filename-extension": "off"
  }
}
